// colors
$base-color: #f4ebff;
$primary-color: #7f56d9;
$white-color: #ffffff;

// width and height dimensions
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// box-shadows
$note-effect:
  -2px -2px 1px #fff,
  2px 2px 2px rgba(174, 174, 174, 0.5);
$button-and-tag-effect:
  -2px -2px 1px #fff,
  2px 2px 2px rgba(0, 0, 0, 0.16);
