@import '../../assets/style/variables';

.editor {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editor__header {
  text-align: center;
  color: $white-color;
  padding: 16px;
  font-size: 24px;
}

.editor__slate {
  background: #31363b;
  padding: 12px;
  box-shadow: $input-effect;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}

.editor__input {
  color: $white-color;
  background: #31363b;
  border: none;
  line-height: 25px;

  &:focus-visible {
    outline: none;
  }
}
