@import '../../../assets/style/variables';

.editor-input__textarea {
  width: 100%;
  max-height: 30px;
  padding: 8px 12px;
  border-radius: 4px;

  &:focus {
    border: none;
    outline: none;
  }

  &--hasValue {
    max-height: none;
  }
}
