@import './assets/style/variables';

.app {
  font-family: Inter;
  height: auto;
  overflow: auto;
  background: url('./assets/images/social-media.jpg');

  &--overflow {
    overflow: hidden;
    height: 100vh;
    background: url('./assets/images/bg.svg'), #1d1d1d;
    mix-blend-mode: overlay;
  }
}
